/*bag的css*/
body
{   
    border-color:#FFCC99;
    border-width:10px;
    border-style:solid;
    background-color:#a7cece;
    margin:150px;
}
#backmain/*按鈕位置*/
{
    position:relative;
    left:200px;
}
#info
{
    position:relative;
    left:200px;
    top:-200px;
}
#foodinbag
{
    position:relative;  
    top:-350px;
    left:350px;    
    
}