body {
background-image:url(登入農場.jpg);
background-size:2000px 1100px;
width:1800px;
}
#cont {
width: 400px;
margin: 250px auto;
border-radius: 100px;
background-color:#1E90FF;
padding: 50px;
color:ivory;
font-size: 20pt;
text-align: center;
}
#msg {
font-weight: bold;
color:red;
}
input {
font-size: 14pt;
font-family: Times New Roman;
}